---
title: Muhammad Osama
---

<!DOCTYPE html>

<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width" name="viewport">

    <title>Muhammad Osama</title>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <link href="/assets/css/style.css" media='all' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="/assets/img/logo.png">
    <meta property="og:image" content="http://mcode.ca/assets/img/logo.png" />
    <meta name="description" content="Professional Portfolio of Muhammad Osama – Programmer and Web Developer, Studying Computer Science"/>
    <style type="text/css">
a, #cancel-comment-reply i, #secondary a:hover, .menu-toggle i, #secondary .portfolio-nav a:hover, #respond
    .required{color:#33B26E}.cta-red, .site-title a:after, #searchsubmit, #commentform #submit, .contact-form input[type='submit'], #content input[type='submit'], .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{background:#33B26E}.main-navigation ul li.current-menu-item > a, .main-navigation ul > li:hover > a, #content .edit-link a, #secondary .edit-link a, .post-content .more-link, .portfolio-column-text .more-link, .index-navigation a, #content .edit-link a:hover, #secondary .edit-link a:hover, .post-content .more-link:hover, .portfolio-column-text .more-link:hover, .post-meta a:hover{border-bottom-color:#33B26E}.site-header,.site-footer{background-color:#2C343C}.main-navigation a, .menu-search-toggle, .hero-title h3,.site-footer{color:#7D838B}
    </style>
    <style type="text/css">
.recentcomments
    a{display:inline !important;padding:0
    !important;margin:0
    !important}
    </style>
</head>

<body class="home page page-id-1329 page-template page-template-homepage-php">
    <div id="page">
        <header class="site-header" id="masthead">
            <div class="header-wrap">
                <div class="header-inside">
                    <div class="navigation-wrap clearfix">
                        <div class="hgroup">
                            <h1 class="site-title"><a href="index.html" rel=
                            "home" title="Muhammad Osama">Muhammad Osama</a></h1>

                            <h2 class="site-description">I am a Computer Science student at the University of Toronto.</h2>
                        </div>

                        <div class="navigation-wrap-inside clearfix">
                            {% include nav.html %}
                        </div>
                    </div>

                    <div class="hero-title animated fadeIn">
                        <h2>Hi, I'm Muhammad Osama</h2>

                        <h3>I am a developer who is studying Computer Science at the University of Toronto.</h3>
                        <a class="cta-red animated fadeIn" href="/about/">About Me</a>
                    </div>
                </div>
            </div>
        </header>

        <div class="inside-page animated fadeIn">
            <div class="site-main clearfix" id="main">
                <div class="content-area" id="primary">
                    <div class="site-content clearfix" id="content">
                        <div class="featured-content-section show-nav">
                            <div class="blog-section clearfix">
                                <div class="blog-section-inside clearfix">
                                    <div class="blog-left">
                                        <h2><a href=
                                        "/projects/"
                                        rel="bookmark">I am always striving to learn more about development.</a></h2>

                                        <div class="blog-left-excerpt">
                                            <p>I am curently studying Computer Science at the University of Toronto, taking an interest in Artificial Intelligence. I share many side projects that derive from this knowledge on <a href="https://github.com/mcoded">GitHub</a>.</p>
                                        </div>
                                    </div>

                                    <div class="blog-right">
                                        <ul>
                                            <li>
                                                <h2><a href=
                                                "/projects/#web"
                                                rel="bookmark">Web Development</a></h2>

                                                <div class="blog-right-date">
                                                    I am very proficient with WordPress and a fan of responsive design. My experience ranges from business and educational websites to e-commerce solutions.
                                                </div>
                                            </li>

                                            <li>
                                                <h2><a href=
                                                "/projects/#android"
                                                rel="bookmark">Android Applications</a></h2>

                                                <div class="blog-right-date">
                                                    As an experienced Android developer, I strive to make my mobile applications both efficient and visually pleasing. I am working on some exciting projects.
                                                </div>
                                            </li>

                                            <li>
                                                <h2>Game Development</h2>

                                                <div class="blog-right-date">
                                                    I am learning the basics of game development in Unreal Engine 4. 
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include footer.html %}

        <div style="display:none"></div>
    </div>
</body>
</html>