<footer class="site-footer clearfix" id="colophon">
            <div class="site-footer-inside">
                

                <div class="footer-copy clearfix">
                    <!--<div class="icons">
                        <div class="icons-widget">
                            <div class="fa fa-links">
                                <a class="twitter-icon" href=
                                "" title=
                                "Twitter"></a> <a class="facebook-icon" href=
                                "" title="Facebook"></a>
                                <a class="tumblr-instagram" href=
                                "" title=
                                "Instagram"></a> <a class="tumblr-icon" href=
                                "#" title=""></a> <a class=
                                "dribbble-icon" href=
                                "" title=
                                "Dribbble"></a> <a class="google-icon" href=
                                "" title="Google+"></a>
                            </div>
                        </div>
                    </div>-->

                    <div class="copyright">
                        <div class="site-info">
                            © 2010-2014 <a href=
                            "http://mcode.ca">Muhammad Osama</a>
                            <span class="sep">|</span> The source for this website may be found on <a href=
                            "https://github.com/mcoded/mcoded.github.com">Github</a>.
                        </div>
                    </div>
                </div>
            </div>
        </footer>