<footer class="site-footer clearfix" id="colophon">
            <div class="site-footer-inside">
                <div class="footer-copy clearfix">
                    <div class="copyright">
                        <div class="site-info">
                            © 2010-2014 <a href=
                            "http://mcode.ca">Muhammad Osama.</a> 
                            The source for this website may be found on <a href=
                            "https://github.com/mcoded/mcoded.github.com">Github</a>.
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
<!-- This website's design is inspired by the AMPERSAND Wordpress Theme at http://themes.array.is/ampersand/ -->