body {
  background: #41484F;
  margin-left: 24px;
  margin-right: 24px;
}

header {
  max-width: 620px;
  margin: 0 auto;
}

main {
  max-width: 620px;
  line-height: 28px;
  margin: 0 auto;
}

h1 {
    color: #FFF;
    font-size: 48px;
    font-weight: 300;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    line-height: 72px;
    line-height: 1.2;
    margin-top: 16px;
}

p {
    color: #F7F7F7;
    font-size: 20px;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
}

a:link, a:visited {
    color: #B8D0E0;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

a:hover {
    color: #FFF;
    border-bottom-color: #33B26E;
}

.bar {
    -webkit-animation-name: horizontalProgressBar;
    animation-name: horizontalProgressBar;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    background: #33B26E;
    height: 4px;
    left: 0;
    position: fixed;
    top: 0;
    width: 0%;
}

@keyframes horizontalProgressBar {
    0%   {width: 0%;}
    100% {width:100%;}
}

@-webkit-keyframes horizontalProgressBar {
    0%   {width: 0%;}
    100% {width:100%;}
}
