<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width" name="viewport">

    <title>{{ page.title }} | Muhammad Osama</title>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <link href="/assets/css/style.css" media='all' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/svg+xml" href="/assets/img/logo.svg">
    <meta property="og:image" content="/assets/img/logo.svg" />
    <style type="text/css">
a, #cancel-comment-reply i, #secondary a:hover, .menu-toggle i, #secondary .portfolio-nav a:hover, #respond
    .required{color:#33B26E}.cta-red, .site-title a:after, #searchsubmit, #commentform #submit, .contact-form input[type='submit'], #content input[type='submit'], .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{background:#33B26E}.main-navigation ul li.current-menu-item > a, .main-navigation ul > li:hover > a, #content .edit-link a, #secondary .edit-link a, .post-content .more-link, .portfolio-column-text .more-link, .index-navigation a, #content .edit-link a:hover, #secondary .edit-link a:hover, .post-content .more-link:hover, .portfolio-column-text .more-link:hover, .post-meta a:hover{border-bottom-color:#33B26E}.site-header,.site-footer{background-color:#2C343C}.main-navigation a, .menu-search-toggle, .hero-title h3,.site-footer{color:#7D838B}
    </style>
    <style type="text/css">
.recentcomments
    a{display:inline !important;padding:0
    !important;margin:0
    !important}
    </style>
</head>

<body class="page page-id-1268 page-template page-template-full-width-php">
    <div id="page">
        <header class="site-header" id="masthead">
            <div class="header-wrap">
                <div class="header-inside">
                    <div class="navigation-wrap clearfix">
                        <div class="hgroup">
                            <h1 class="site-title"><a href="http://mcode.ca" rel=
                            "home" title="Muhammad Osama">Muhammad Osama</a></h1>
                        </div>

                        <div class="navigation-wrap-inside clearfix">
                            <div class="navigation-toggle">
                                <nav class="site-navigation main-navigation">
                                    <h1 class="assistive-text">Menu</h1>

                                    <div class="assistive-text skip-link">
                                        <a href="#content">Skip to content</a>
                                    </div>

                                    <div class="menu-header-container">
                                        <ul class="menu" id="menu-header">
                                            <li class=
                                            "menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1475"
                                            id="menu-item-1475">
                                                <a href=
                                                "/about/">About</a>

                                            <li class=
                                            "menu-item menu-item-type-post_type menu-item-object-page menu-item-1659"
                                            id="menu-item-1659"><a href=
                                            "/projects/">Projects</a></li>
                                            
                                            {% for post in site.categories.CAT %}
                                              {% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %}
                                            {% endfor %}
                                            
                                            {% if post_count > 0 %}
                                            <li class=
                                            "menu-item menu-item-type-post_type menu-item-object-page menu-item-1342"
                                            id="menu-item-1342"><a href=
                                            "/blog/">Blog</a></li>
                                            {% endif %}

                                            <li class=
                                            "menu-item menu-item-type-post_type menu-item-object-page menu-item-1474"
                                            id="menu-item-1474"><a href=
                                            "mailto:muhammad.osama@mcode.ca">Contact Me</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <div class="hero-title animated fadeIn">
                        <h2>{{ page.title }}</h2>
                    </div>
                </div>
            </div>
        </header>

        <div class="inside-page animated fadeIn">
            <div class="site-main clearfix" id="main">
                <div class="content-area" id="primary">
                    <div class="site-content container clearfix" id="content">
                        <div class="post-content">
                            <div class="post-text">
                                {{ content }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="site-footer clearfix" id="colophon">
            <div class="site-footer-inside">
                

                <div class="footer-copy clearfix">
                    <div class="icons">
                        <div class="icons-widget">
                            <div class="fa fa-links">
                                <a class="twitter-icon" href=
                                "http://twitter.com/mikemcalister" title=
                                "Twitter"></a> <a class="facebook-icon" href=
                                "http://facebook.com/" title="Facebook"></a>
                                <a class="tumblr-instagram" href=
                                "http://instagram.com/mikemcalister" title=
                                "Instagram"></a> <a class="tumblr-icon" href=
                                "#" title="Tumblr"></a> <a class=
                                "dribbble-icon" href=
                                "http://dribbble.com/mikemcalister" title=
                                "Dribbble"></a> <a class="google-icon" href=
                                "http://google.com/" title="Google+"></a>
                            </div>
                        </div>
                    </div>

                    <div class="copyright">
                        <div class="site-info">
                            © 2010-2014 <a href=
                            "http://mcode.ca">Muhammad Osama</a>
                            <span class="sep">|</span> The source for this website may be found on <a href=
                            "https://github.com/mcoded/mcoded.github.com">Github</a>.
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    <div style="display:none"></div>
</body>
</html>