<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width" name="viewport">

    <title>{{ page.title }} | Muhammad Osama</title>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <link href="/assets/css/style.css" media='all' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="/assets/img/logo.png">
    <meta property="og:image" content="/assets/img/logo.png" />
    <style type="text/css">
a, #cancel-comment-reply i, #secondary a:hover, .menu-toggle i, #secondary .portfolio-nav a:hover, #respond
    .required{color:#33B26E}.cta-red, .site-title a:after, #searchsubmit, #commentform #submit, .contact-form input[type='submit'], #content input[type='submit'], .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{background:#33B26E}.main-navigation ul li.current-menu-item > a, .main-navigation ul > li:hover > a, #content .edit-link a, #secondary .edit-link a, .post-content .more-link, .portfolio-column-text .more-link, .index-navigation a, #content .edit-link a:hover, #secondary .edit-link a:hover, .post-content .more-link:hover, .portfolio-column-text .more-link:hover, .post-meta a:hover{border-bottom-color:#33B26E}.site-header,.site-footer{background-color:#2C343C}.main-navigation a, .menu-search-toggle, .hero-title h3,.site-footer{color:#7D838B}
    </style>
    <style type="text/css">
.recentcomments
    a{display:inline !important;padding:0
    !important;margin:0
    !important}
    </style>
</head>

<body class="page page-id-1268 page-template page-template-full-width-php">
    <div id="page">
        <header class="site-header" id="masthead">
            <div class="header-wrap">
                <div class="header-inside">
                    <div class="navigation-wrap clearfix">
                        <div class="hgroup">
                            <h1 class="site-title"><a href="http://mcode.ca" rel=
                            "home" title="Muhammad Osama">Muhammad Osama</a></h1>
                        </div>

                        <div class="navigation-wrap-inside clearfix">
                            {% include nav.html %}
                        </div>
                    </div>

                    <div class="hero-title animated fadeIn">
                        <h2>{{ page.title }}</h2>
                    </div>
                </div>
            </div>
        </header>

        <div class="inside-page animated fadeIn">
            <div class="site-main clearfix" id="main">
                <div class="content-area" id="primary">
                    <div class="site-content container clearfix" id="content">
                        <div class="post-content">
                            <div class="post-text">
                                {{ content }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}

    <div style="display:none"></div>
</body>
</html>